 h1{
    font-size: 40px;
 }
 h2{
    font-size: 30px;
 }
section{
    height: 450px;
    padding-bottom: 150px ;
}
 .half-width{
     width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%; 

   
}
   
    


 .half-width img{
    width: 80%;
    margin-top: 10%;

    
} 
#headersection{
    background-image: url(photos/header-bg.png);
}

.Biography{
    background-image: url(photos/biography-bg.png);
}
.link{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(45deg, pink, tomato);
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 700;
}
.headersection{
    background-image: url(photos/header-bg.png);
    background-size: cover;
}


#middl{
    margin-top:10%;
    margin-left:100px ;
}
#middla {margin-top:10%;
margin-left:100px ;
}

#worksec{
    padding-top: 100px;
    text-align: center;
    
    font-weight:100;
}


.workimg{
padding-top: 50px;    
width: 27%;
 margin-left: 3%; 


}
.workdiv{
    margin-left: 40px;
    
    background-image: url(photos/latest-work-bg.png);
}
.footerdiv{
    text-align: center;
}
.footerclient{
   font-size: 50px;
   padding-bottom: 75px;
}
.footername{
    font-size: 20px;
    display: block;
}
.footerfuture{
    font-size: 12px;
} 
.footerp{
    
    display: inline;
    
}

.message{
    display: inline-block;
    margin-top: 5%;
    text-decoration: none;
    background-image:  linear-gradient(45deg, pink, tomato); 
    padding: 40px 80px 60px 80px; 
    border-radius: 10px; 
    color: white;
    font-weight: 700;
    
    
}   

footer{
    text-align: center;
    padding-top: 50px;
}